<div style="max-height: 350px; overflow-y: auto;">
    <table class="table table-bordered align-middle" style="position: relative;">
        <thead class="table-light" style="position: sticky; top: 0; z-index: 2;">
            <tr>
                <th>Nom</th>
                <th>Barcode</th>
                <th>Narxi</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.desc }}</td>
                <td>{{ product.barcode }}</td>
                <td>{{ product.s_price }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
